/* =======================================
   BRICOLAGE
======================================= */

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('../fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf')
    format('truetype');
  font-display: swap;
}

/* =======================================
   RALEWAY
======================================= */

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght.ttf')
    format('truetype');
  font-display: swap;
}

/* =======================================
   HELVETICA NEUE
======================================= */

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueLight.otf')
    format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueRoman.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueMedium.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueBold.otf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueHeavy.otf')
    format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueBlack.otf')
    format('opentype');
  font-weight: 900;
  font-style: normal;
}