:root {
  --font-helvetica: 'Helvetica Neue', sans-serif;

  --font-bricolage: 'Bricolage Grotesque', sans-serif;

  --font-raleway: 'Raleway', sans-serif;

  --gradient-primary: #{'linear-gradient(90deg, #E1113F 0%, #274E9D 100%)'};
}